*{
    margin: 0;
    padding: 0;
}
h1{
    font-weight: bolder;
    text-align: center;
    font-size: 45px;
    padding: 10px;
}

img{
    height: 200px;
    width: 200px;
}

#main_block{
    width: 1000px;
    margin: 0 auto;
    background-color:blanchedalmond ;
    display: flex;
    flex-direction: column;
}

.top_row{
    height: 250px;
    background-color: rgb(95, 158, 160);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.middle_row{
    height: 250px;
    background-color: rgba(87, 178, 34, 0.952);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.bottom_row{
    height: 250px;
    background-color: rgb(160, 95, 95);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

p{
    text-align: center;
}