
.container{
    width: 950px;
    background-color: silver;
    margin: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.top-nav {
    padding-top: 20px;
    height: 150px;
    margin: 12px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    float: left;
    margin: 12px;
    background-color: blue;
}
.main {
    height: 400px;
    width: 714px;
    margin-left: 225px;
    margin-top: 24px;
    margin-bottom: 12px;
    background-color: red;
}
.sub-content {
    height: 200px;
    width: 210px;
    float: right;
    margin: 12px;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 680px;
    float: left;
    margin: 24px;
    background-color: purple;
}