*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* HEADING */
.main_heading{
    width: 1080px;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 10px;
}
.your_feed{
    text-align: center;
    margin: 20px;
}
/* CONTAINER */
.container{
    width: 1080px;
    margin: 0 auto;
    display: flex;
}

/* LEFT CONTAINER */
#left_container{
    flex: 1;
}

.user_card{
    border: black solid;
    margin: 20px;
    text-align: center;
}

.user_card >p{
    padding: 10px;
}

.user_card .user_name{
    font-size: 25px;
}

.user_card > img{
    height: 100px;
    margin: 20px;
}
/* RIGHT CONTAINER */
#right_container{
    flex:2
}
.activity_card-1{
    border: black solid;
    margin: 20px;
}
.activity_card-2{
    border: black solid;
    margin: 20px;
}
.activity_card-3{
    border: black solid;
    margin: 20px;
}
.activity_card_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.activity_card_heading > .user_name,
.activity_card_heading > .no_of_likes{
    margin: 30px 10px;
    padding: 0 20px;
    text-align: center;
    vertical-align: middle;
}

.no_of_likes >button{
    padding: 0 20px;
    background-color: #f6d162;
    border: black solid;
    text-align: right;
    margin-left: 50px;
    
}

.activity_details{
    width: fit-content;
    margin: 10px;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

.activity_card_heading > .user_name{
    font-size: 25px;
    font-weight: bold;
}

