*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#navbar_background{
    background-color: black;
}
/* NAVBAR */
#navbar{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 85px;
    color: white;
    justify-content: space-between;
    vertical-align: middle;
    
}

.nav_links >li, .sign_out_btn{
    display: inline;
    margin-left: 35px;
    list-style-type: none;
    vertical-align: middle;
    justify-content: space-around;
}

.sign_out_btn{
    background-color: darkcyan;
    padding: 10px;
}

.contents{
    display: flex;
    flex-direction: column;
} 

/* CONTENT CONTAINER*/

#contents_container{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-evenly;
}

/* LEFT CONTENTS */
.left_contents{
    flex :2
}

/* USER CARD */
#user_card{
    width: auto;
    height: 475px;
    display: flex;
    border: solid gray;
    flex-direction: column;
}

.user_img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 25px;
    border: gray solid;
    padding: 4px;
    background-color: white;
}

#user_img{
    height: 200px;
    background-color: teal;
}

#contents{
    width: auto;
    margin-left: 25px;
    margin-top: 100px;
}

.map_maker_image{
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.map_maker{
    font-size: 20px;
    font-weight: 600;
}

p{
    padding: 5px;
}

.gear >img,
.gear >p{
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
}

.gear_img{
    height: 15px;
    width: 15px;
    margin-right: 5px;
    margin-right: 5px;
}

#educational_details{
    border: gray solid;
    margin-top: 35px;
}
/* EDUCATIONAL DETAILS */
.education_heading{
    background-color: black;
    color: white;
    font-size: 25px;
    font-style: bold;
    padding: 10px;
}

.education_details >p{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding: 10px;
}
.school_name{
    font-size: 20px;
}
.graduated_in{
    font-size: 15px;
    color: gray;
}
.grades{
    font-size: 15px;
}


/* RIGHT CONTENTS */

/* CONNECTION REQUESTS*/

.connection_requests{
    margin-left: 25px;
    border: grey solid;
}

/* .req_img{
    height: 55px;
    width: 55px;
    
} */
.request_heading >p{
    font-size: 25px;
    width: auto;
    padding: 10px;
    background-color: grey;
    color: white;
    vertical-align: middle;
    padding: 15px;
}
.request_heading >p >span{
    height: 80px;
    width: 80px;
    background-color: lightcoral;
    border-radius: 50%;
    padding: 10px ;
}
.request_details >img, .request_details>p{
    display: inline;
    justify-content: space-between;
    vertical-align: middle;
    margin: 10px;
}

.req_img{
    height: 50px;
    border-radius: 50%;
}

.accpet_close{
    height: 30px;
    border-radius: 50%;
    float: right;
}
/* YOUR CONNECTIONS */

.your_connections{
    margin-left: 25px;
    border: grey solid;
    margin-top: 35px;
    vertical-align: middle;
}

.connections_heading >p{
    font-size: 25px;
    width: auto;
    padding: 10px;
    background-color: grey;
    color: white;
    vertical-align: middle;
    padding: 15px;
}
.connections_heading >p >span{
    height: 80px;
    width: 80px;
    background-color: lightcoral;
    border-radius: 50%;
    padding: 10px ;
}
.connections_details >img, .connections_details>p{
    display: inline;
    justify-content: space-between;
    vertical-align: middle;
    margin: 10px;
}
.connections_details >img{
    height: 50px;
    border-radius: 50%;
}

.view_more{
    padding: 10px;
    border-top: grey solid; 
    color: blue;
    text-decoration: underline;
}
