*{
    padding: 8px;
}

h1{
    background-color: black;
    color: mintcream;
    font-size: 50px;
}

span{
    color: mediumturquoise;
}

#fisrt_paragraph{
    background-color: blueviolet;
    text-align: center;
    color: mintcream;
    font-size: 35px;
}

.second_paragraph{
    background-color: lightblue;
    text-align : end;
    text-decoration: underline;
    font-size: 20px;
}